<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="utf-8">
  <title>{{ page.title }} - {{ site.title }}</title>
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : '';
      j.async = true;
      j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-KBQW6SM');
  </script>
  <!-- End Google Tag Manager -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}"> -->
  <link rel="stylesheet" href="{{'/assets/css/main.css' | prepend: site.baseurl}}">
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KBQW6SM" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <nav class="navbar navbar-expand-md navbar-dark bg-nbit font--azonix">
    <a class="navbar-brand" href="{{'/' | prepend: site.baseurl}}">
      <img src="/assets/image/nbit-logo-transparent.svg" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon font--white"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <div class="mr-auto">

      </div>
      <ul class="navbar-nav my-2 my-lg-0">
        <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        <li class="nav-item active">
          <a class="nav-link" href="{{'/' | prepend: site.baseurl}}">HOME <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">SERVICES</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{'/services/cloud-migration' | prepend: site.baseurl}}">CLOUD MIGRATION</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/services/big-data' | prepend: site.baseurl}}">BIG DATA ANALYTICS</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/services/iot' | prepend: site.baseurl}}">INTERNET OF THINGS (IOT)</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/services/application-development' | prepend: site.baseurl}}">APPLICATION
              DEVELOPMENT</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/services/machine-learning' | prepend: site.baseurl}}">MACHINE
              LEARNING</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/services/managed-service' | prepend: site.baseurl}}">MANAGED SERVICE</a>
          </div>
        </li>
        <li class="nav-item active dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">PRODUCT</a>
          <div class="dropdown-menu" aria-labelledby="dropdown01">
            <a class="dropdown-item" href="{{'/products/hris' | prepend: site.baseurl}}">HUMAN RESOURCE INFORMATION
              SYSTEM</a>
            <div class="navbar-item-line"></div>
            <a class="dropdown-item" href="{{'/products/fas' | prepend: site.baseurl}}">FINANCIAL & ACCOUNTING
              SYSTEM</a>
          </div>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{'/partner' | prepend: site.baseurl}}">PARTNER</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{'/career' | prepend: site.baseurl}}">CAREER</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{{'/about' | prepend: site.baseurl}}">ABOUT</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link active" href="{{'/contact-us' | prepend: site.baseurl}}">CONTACT US</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li> -->

      </ul>
    </div>
  </nav>

  <main role="main">
    {{ content }}
  </main>

  <footer class="nbit-footer font--azonix d-none d-sm-block">
    <div class="d-flex">
      <div class="p-3">
        <div class="font--white font--proximanova footer--company-title line-height-22px">NBit Technology Sdn. Bhd.
        </div>
        <div class="font--white font--proximanova line-height-22px font-size--12px">
          Pentagon Suite, Wisma Suria, Jalan Teknokrat 6,
        </div>
        <div class="font--white font--proximanova line-height-22px font-size--12px">Cyber 5, 63000, Cyberjaya, Selangor
        </div>
        <div>&nbsp;</div>
        <p class="font--white font--proximanova font-size--12px">+60149686534</p>
        <p class="font--white font--proximanova font-size--12px">Support@nbit.technology</p>
        <div class="footer-socmed-logo--container">
          <a class="footer-link" href="https://www.facebook.com/NBit-Technology-Sdn-Bhd-104978917928948/"><img class="icon-logo"
              src="{{'/assets/image/fb-logo.svg' | prepend: site.baseurl}}" /></a>
          <a class="footer-link" href="https://www.linkedin.com/public-profile/in/nbit-technology-00b07750"><img class="icon-logo"
              src="{{'/assets/image/linkedin-logo.svg' | prepend: site.baseurl}}" /></a>
          <a class="footer-link" href="#"><img class="icon-logo"
              src="{{'/assets/image/twitter-logo.svg' | prepend: site.baseurl}}" /></a>
        </div>
      </div>
      <div class="p-3">
        <p class="font--white">SERVICES</p>
        <ul class="list-group list-group-flush list-group-footer">
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/cloud-migration' | prepend: site.baseurl}}">CLOUD MIGRATION</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/big-data' | prepend: site.baseurl}}">BIG DATA ANALYTICS</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/iot' | prepend: site.baseurl}}">INTERNET OF THINGS (IOT)</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/application-development' | prepend: site.baseurl}}">APPLICATION
              DEVELOPMENT</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/machine-learning' | prepend: site.baseurl}}">MACHINE LEARNING</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/managed-service' | prepend: site.baseurl}}">MANAGED SERVICE</a>
            <div class="footer-line"></div>
          </li>
        </ul>
      </div>
      <div class="p-3">
        <p class="font--white">PRODUCT</p>
        <ul class="list-group list-group-flush list-group-footer">
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/products/hris' | prepend: site.baseurl}}">HUMAN RESOURCE INFORMATION
              SYSTEM</a>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/products/fas' | prepend: site.baseurl}}">FINANCIAL & ACCOUNTING SYSTEM</a>
          </li>
        </ul>
      </div>
      <div class="p-3">
        <ul class="list-group list-group-flush list-group-footer list-group list-group-horizontal">
          <li class="list-group-item list-group-item-footer">
            <p>
              <a class="font--white" href="{{'/partner' | prepend: site.baseurl}}">PARTNER</a>
            </p>
          </li>
          <li class="list-group-item list-group-item-footer">
            <p><a class="font--white" href="{{'/career' | prepend: site.baseurl}}">CAREER</a></p>
          </li>
          <li class="list-group-item list-group-item-footer">
            <p><a class="font--white" href="{{'/about' | prepend: site.baseurl}}">ABOUT</a></p>
          </li>
          <li class="list-group-item list-group-item-footer">
            <p><a class="font--white" href="{{'/contact-us' | prepend: site.baseurl}}">CONTACT US</a></p>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  <footer class="nbit-footer font--azonix d-block d-sm-none">
    <div class="d-flex">
      <div class="p-12">
        <div class="font--white font--proximanova footer--company-title line-height-22px">NBit Technology Sdn. Bhd.
        </div>
        <div class="font--white font--proximanova line-height-22px font-size--12px">
          Pentagon Suite, Wisma Suria, Jalan Teknokrat 6,
        </div>
        <div class="font--white font--proximanova line-height-22px font-size--12px">Cyber 5, 63000, Cyberjaya, Selangor
        </div>
        <div>&nbsp;</div>
        <p class="font--white font--proximanova font-size--12px">+60149686534</p>
        <p class="font--white font--proximanova font-size--12px">Support@nbit.technology</p>
        <div class="footer-socmed-logo--container">
          <a class="footer-link" href="https://www.facebook.com/NBit-Technology-Sdn-Bhd-104978917928948/"><img class="icon-logo"
              src="{{'/assets/image/fb-logo.svg' | prepend: site.baseurl}}" /></a>
          <a class="footer-link" href="https://www.linkedin.com/public-profile/in/nbit-technology-00b07750"><img class="icon-logo"
              src="{{'/assets/image/linkedin-logo.svg' | prepend: site.baseurl}}" /></a>
          <a class="footer-link" href="#"><img class="icon-logo"
              src="{{'/assets/image/twitter-logo.svg' | prepend: site.baseurl}}" /></a>
        </div>
        <p class="font--white footer-link-title">SERVICES</p>
        <ul class="list-group list-group-flush list-group-footer">
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/cloud-migration' | prepend: site.baseurl}}">CLOUD MIGRATION</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/big-data' | prepend: site.baseurl}}">BIG DATA ANALYTICS</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/iot' | prepend: site.baseurl}}">INTERNET OF THINGS (IOT)</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/application-development' | prepend: site.baseurl}}">APPLICATION
              DEVELOPMENT</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/machine-learning' | prepend: site.baseurl}}">MACHINE LEARNING</a>
            <div class="footer-line"></div>
          </li>
          <li class="list-group-item list-group-item-footer">
            <a class="footer-link" href="{{'/services/managed-service' | prepend: site.baseurl}}">MANAGED SERVICE</a>
          </li>
          </li>
          <p class="font--white footer-link-title">PRODUCT</p>
          <ul class="list-group list-group-flush list-group-footer">
            <li class="list-group-item list-group-item-footer">
              <a class="footer-link" href="{{'/products/hris' | prepend: site.baseurl}}">HUMAN RESOURCE INFORMATION
                SYSTEM</a>
              <div class="footer-line"></div>
            </li>
            <li class="list-group-item list-group-item-footer">
              <a class="footer-link" href="{{'/products/fas' | prepend: site.baseurl}}">FINANCIAL & ACCOUNTING
                SYSTEM</a>
            </li>
          </ul>
          <ul class="list-group list-group-flush list-group-footer list-group">
            <li class="list-group-item list-group-item-footer">
              <p>
                <a class="font--white" href="{{'/partner' | prepend: site.baseurl}}">PARTNER</a>
              </p>
            </li>
            <li class="list-group-item list-group-item-footer">
              <p>
                <a class="font--white" href="{{'/career' | prepend: site.baseurl}}">CAREER</a>
              </p>
            </li>
            <li class="list-group-item list-group-item-footer">
              <p>
                <a class="font--white" href="{{'/about' | prepend: site.baseurl}}">ABOUT</a>
              </p>
            </li>
            <li class="list-group-item list-group-item-footer">
              <p>
                <a class="font--white" href="{{'/contact-us' | prepend: site.baseurl}}">CONTACT US</a>
              </p>
            </li>
          </ul>
      </div>
    </div>
  </footer>
  <script src="{{'/assets/vendor/jquery.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/vendor/popper.min.js' | prepend: site.baseurl}}"></script>
  <script src="{{'/assets/vendor/bootstrap.min.js' | prepend: site.baseurl}}"></script>
</body>

</html>